/* ===== Global Section ===== */
.tim-section {
    padding: 30px 80px;
    background: linear-gradient(180deg, #FFDAD1 0%, #fff7ec 100%);
    text-align: center;
}

.tim-section:nth-child(even) {
    background: linear-gradient(180deg, #fff7ec 0%, #e6f4f2 100%);
}

/* ===== Judul ===== */
.section-title {
    font-size: 28px;
    font-weight: 600;
    color: #6bb7b0;
    margin-bottom: 40px;
}

/* ===== Grid ===== */
.tim-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* ===== Card ===== */
.tim-card {
    background-color: #FFDAD1;
    padding: 20px 16px 24px;
    box-shadow: 0 8px 20px rgba(0,0,0,15%);
    transition: transform 0.3s ease;
}

.tim-card:hover {
    transform: translateY(-6px);
}

/* ===== Foto ===== */
.tim-card img {
    width: 100%;
    max-width: 170px;
    margin: 0 auto 16px;
    display: block;
    border-radius: 8px;
    /* background-color: #fff; */
    padding: 8px;
}

/* ===== Nama ===== */
.tim-card h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 6px;
}

/* ===== Jabatan ===== */
.tim-card p {
    font-size: 12px;
    color: #777;
    margin-bottom: 12px;
}

/* ===== Instagram Button ===== */
.ig-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

.ig-btn img {
    width: 25px;
    height: 25px;
}

/* ===== Responsive ===== */
@media (max-width: 1024px) {
    .tim-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tim-grid {
        grid-template-columns: 1fr;
    }

    .tim-section {
        padding: 40px 20px;
    }
}
