/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #fffaf3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    z-index: 999;
}

.navbar-container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HERO */
.hero {
    margin-top: 80px;
    /* biar ga ketiban navbar */
    min-height: 100vh;
    background: url('../img/hero.jpg') center/cover no-repeat;
    padding: 80px;
}